/* style.css */

.box-container{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px slategrey;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 500px;
}
.dice{
    height: 300px;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 20px;
    
}